$nova-light: "proximanova-light", serif;
$nova-bold: "proximanova-bold" serif;
$robota-light: "Roboto Slab", serif;
$robota-slab-regular: "Roboto Slab regular", serif;
$robota-slab-bold: "Roboto Slab bold", serif;
$robota-slab-light: "Roboto Slab light", serif;


$whiteSmoke: #f5f4f4;
$black: #13090c;
$dark-brown: #5b4133;
$grey: #8f8785;
$Chocolate-Brown: #d75d13;
$Firefly-green: #33474a;
$Indochine-brown: #955b35;
$CostaDelSol-green: #626029;
$Spindle-Blue: #aec4d8;

