$nova-light: "proximanova-light", serif;
$nova-bold: "proximanova-bold" serif;
$robota-light: "Roboto Slab", serif;
$robota-slab-regular: "Roboto Slab regular", serif;
$robota-slab-bold: "Roboto Slab bold", serif;
$robota-slab-light: "Roboto Slab light", serif;


// Размеры шрифта
$super-size: 76px;
$alpha-size: 72px;
$beta-size: 36px;
$gamma-size: 30px;
$delta-size: 24px;
$epsilon-size: 21px;
$zeta-size: 18px;
$eta-size: 16px;
$theta-size: 15px;
$iota-size: 14px;


$white: #ffffff;
$light-white: #edeff1;
$black: #31353e;
$light-black: #31353e;
$dark-brown: #5b4133;
$light-brown: #8f8785;
$orange: #d75d13;
$dark-orange: #dd4b2b;
$dark-blue: #4b4e73;





