@import "mixins";

@include font-face('proximanova-light', "../fonts/ProximaNova-Light", null, null, woff);
@include font-face('proximanova-bold', "../fonts/ProximaNova-Bold", null, null, woff);
@include font-face('Roboto', "../fonts/Roboto-Light", null, null, woff);
@include font-face('Roboto', "../fonts/Roboto-Regular", null, null, ttf);
@include font-face('Roboto Slab regular', "../fonts/robotoslabregular", null, null, woff);
@include font-face('Roboto Slab bold', "../fonts/robotoslabbold", null, null, woff);
@include font-face('Roboto Slab light', "../fonts/robotoslablight", null, null, woff);
