.intro__btn{
  width: 213px;
  color: $grey;
  font-size: $theta-size;
  margin: 33px 0 58px 0;
  font-family: $Roboto-Light;
  background-color: $white;
  border-radius: 40px;
  text-decoration: none;
  padding: 13px 55px;

  &:hover{
    color: $white;
    background-color: $orange;
  }

}

.foodNews__btn{
  width: 213px;
  color: $grey;
  font-size: $theta-size;
  margin: 52px 0 58px 0;
  font-family: $Roboto-Light;
  background-color: $white;
  border-radius: 40px;
  text-decoration: none;
  padding: 20px 55px;


  &:hover{
    color: $white;
    background-color: $orange;
  }
}

.email__btn {
  position: absolute;
  top: 40px;
  left: 60%;
  width: 46%;
  height: 48px;
  border: none;
  background: $white;
  border-radius: 40px;
  cursor: pointer;
  color: $dark-brown;

  &:before {
    font-family: $robotaslabregular;
    font-size: $zeta-size;
    color: #612316;
  }

  &:hover{
    color: $white;
    background-color: $orange;
  }
}

.product__btn{
  color: $white;
  width: 213px;
  font-family: $robotaslabregular;
  font-size: $zeta-size;
  text-decoration: none;
  border-radius: 40px;
  padding: 13px 70px;

  &:hover{
    opacity: 0.7;
  }

  &--orange{
    background-color: $orange;
  }

  &--blue{
    background-color: $dark-blue;
  }
}
