@import "../variables";
@import "../global/mixins";

.intro {
  background-image: url("../images/slider-main.jpg");
  background-repeat: no-repeat;
  padding-top: 489px;
  text-align: center;


  .intro__slogan{
    display: flex;
    flex-direction: column;
    align-items: center;


    & h1{
      color: $white;
      font-family: $robotaslablight;
      font-size: $alpha-size;
      margin: 0px 0px 9px 117px;
    }

    & p{
      color: $white;
      font-family: $robotaslabbold;
      font-size: $gamma-size;
      margin-top: 0px;
    }
  }




  .intro__foods{
    display: flex;
    justify-content: center;
    margin-top: 56px;
    text-align: center;

      .foods__item {
        width: 370px;
        padding-left: 2%;
        padding-right: 2%;


        & h1{
          font-size: $gamma-size;
          line-height: 24px;
          margin-bottom: 15px;
          color: $white;
          font-family: $robotaslabbold;
        }

        & p{
          font-size: $theta-size;
          line-height: 30px;
          color: $white;
          font-family: $Robota-Light;
        }

      }
  }

  .intro__btn{
    width: 213px;
    color: $dark-brown;
    font-size: $zeta-size;
    margin: 52px 0 58px 64px;
    font-family: $robotaslabregular;
    background-color: $white;
    border-radius: 40px;
    padding: 11px 0;

  }
}
