@import "../variables";
@import "../global/mixins";

.page-header{
  color: #000000;
  background-color: $whiteSmoke;
  display: flex;
  margin: auto;


  .content__title{
    flex-direction: column;
    width: 48%;
    font-size: 36px;
    font-weight: 700;
    color: #31353e;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;

    .content__description{
      font-size: 16px;
      line-height: 1.2;
      font-weight: 400;
      color: $Chocolate-Brown;
    }
  }
}

.navigation{
  display: flex;
  width: 40%;

  .navigation__nav {
    width: 82%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

    .navigation-item {
      list-style: none;
      flex-basis: 20.44%;
      max-width: 21.444%;

      .navigation__link{
        display: block;
        padding: 25px 0;
        color: black;
      }
    }
  }
}

/* меньше 800px */
@media all and (max-width: 800px) {
  .nav { justify-content: space-around; }
  .nav a{ flex-grow:1; /* растягиваться на всю ширину */ }
}

/* меньше 500px */
@media all and (max-width: 500px) {
  .nav { flex-direction: column; }
}



