@import "../variables";
@import "../global/mixins";

.page-header {
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-color: $light-white;
  padding-top: 44px;
  padding-bottom: 44px;


  .content__title {
    padding-top: 10px;
    margin: 0 0 2px 0;
    font-size: $beta-size;
    font-weight: 700;
    line-height: $beta-size;
    color: $light-black;
    font-family: $robotaslabbold;

  }

  .content__description {
    margin: 0;
    font-size: $eta-size;
    color: $dark-orange;

  }
}

.navigation__nav{
  display: inline-flex;
  align-items: center;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  color: $light-black;
  font-family: $robotaslabregular;


      .navigation__nav-link{
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        font-family: "Roboto Slab", Arial, sans-serif;
        text-decoration: none;
        padding: 1em;
        color: #31353e;


        &:hover{
          background-color: $dark-orange;
          border-radius: 40px;
          color: $white;
        }
      }
}


/* меньше 800px */
@media all and (max-width: 800px) {
  .navigation { justify-content: space-around; }
  .navigation__link{ flex-grow:1; /* растягиваться на всю ширину */ }
}

/* меньше 500px */
@media all and (max-width: 500px) {
  .navigation { flex-direction: column; }
}



