@import "../variables";
@import "../global/mixins";

.intro {
  background-image: url("../images/slider-main.jpg");
  background-repeat: no-repeat;
  padding-top: 489px;
  text-align: center;
  padding-bottom: 100px;


  .intro__slogan{
    display: flex;
    flex-direction: column;
    align-items: center;


    & h1{
      color: $white;
      font-family: $robotaslablight;
      font-size: $alpha-size;
      margin: 0px 0px 9px 117px;
    }

    & p{
      color: $white;
      font-family: $robotaslabbold;
      font-size: $gamma-size;
      margin-top: 0px;
    }
  }




  .intro__foods{
    display: flex;
    justify-content: center;
    margin-top: 56px;
    text-align: center;
    list-style: none;

      .foods__item {
        width: 370px;
        padding-left: 2%;
        padding-right: 2%;


        & h1{
          font-size: $gamma-size;
          line-height: 24px;
          margin-bottom: 15px;
          color: $white;
          font-family: $robotaslabbold;
        }

        & p{
          font-size: $theta-size;
          line-height: 30px;
          color: $white;
          font-family: $Roboto-Light;
        }

      }
  }

  .intro__btn{
    width: 213px;
    color: $grey;
    font-size: $theta-size;
    margin: 46px 0 58px 0;
    font-family: $Roboto-Light;
    background-color: $white;
    border-radius: 40px;
    text-decoration: none;
    padding: 13px 55px;

  }
}

.foodNews{
  text-align: center;
  padding-bottom: 100px;

  .news__items{
    display: flex;
    justify-content: center;
    margin-top: 56px;
    list-style: none;


    & li{
      width: 22%;
    }

    & h1{
      font-size: $delta-size;
      margin-bottom: 15px;
      line-height: 10px;
      color: black;
      font-family: $robotaslabbold;
    }

    & p{
      font-size: $theta-size;
      font-family: $Roboto-Light;
      padding: 0 47px;
      margin-bottom: 39px;
    }

    .intro__btn{
      width: 213px;
      color: $grey;
      font-size: $theta-size;
      margin: 52px 0 58px 0;
      font-family: $Roboto-Light;
      background-color: $white;
      border-radius: 40px;
      text-decoration: none;
      padding: 20px 55px;


    }

  }
}

.newsLetter{
  background-image: url("../images/slider-footer.jpg");
  text-align: center;
  padding-top: 60px;
  padding-bottom: 100px;


    & h2{
      font-size: $gamma-size;
      font-family: $robotaslabbold;
      color: $white;

    }

    & p{
      font-size: $theta-size;
      font-family: $Roboto-Light;
      color: $white;
      padding-bottom: 1%;

    }

  form{
    position: relative;
    width: 488px;
    margin: 0 auto;
  }

  input{
    width: 100%;
    height: 42px;
    padding-left: 25px;
    border: 2px solid $white;
    border-radius: 40px;
    outline: none;
    background: $light-grey;
    color: $white;
    font-family: $robotaslabregular;
    font-size: $zeta-size;
    opacity: 0.35;
  }

  button {
    position: absolute;
    top: 0px;
    left: 60%;
    width: 46%;
    height: 48px;
    border: none;
    background: $white;
    border-radius: 40px;
    cursor: pointer;
    color: $dark-brown;

    &:before {
      font-family: $robotaslabregular;
      font-size: $zeta-size;
      color: #612316;
    }
  }

}

.productDetails{
  margin-top: 65px;

}

.product{
  margin-bottom: 50px;
  display: flex;
  justify-content: center;

  &__description {
    width: 600px;
    margin-top: 53px;
    padding-right: 110px;
  }

  &--reverse {
    flex-direction: row-reverse;
  }

  .name{
    margin-top: 0;
    font-family: $robotaslabbold;
    font-size: $gamma-size;
    color: $light-black;

  }

  .about{
    margin-bottom: 30px;
    font-family: $Roboto-Light;
    font-size: $eta-size;
    color: $light-black;

  }

  &__btn{
    color: $white;
    width: 213px;
    font-family: $robotaslabregular;
    font-size: $zeta-size;
    text-decoration: none;
    border-radius: 40px;
    padding: 13px 70px;

    &--orange{
      background-color: $orange;
    }

    &--blue{
      background-color: $dark-blue;
    }
  }

  span{
    height: 405px;
    width: 586px;
    border: 1px solid $very-light-grey;
    margin-right: 44px;
  }

}

